/* Thanks Ian for all of your help!!! */

/* Thanks to NYPL and Project Code for your support!!! */




/* ------------------------tag styling ----------------------*/

body {
    background-color: #D0D5D6;
    font-family: Raleway, sans-serif;
    text-align:center;
    color:black;
    }

        
a   {text-decoration: none;
    color:#101010;
    }
    
a:hover {
        color: #FFFFFF;
        text-decoration: none;
        }
    
        
h1 {
    font-size:40px;
    font-family: Raleway, sans-serif;
    font-weight:100;
    color:#101010;
    letter-spacing: .2em;
    text-align: center;
    margin-bottom:5px;
    }
    
h2 {
    font-size:17px;
    font-family:Raleway, sans-serif;
    font-weight:400;
    letter-spacing: .1em;
    color: #101010;
    text-align:center;
    padding-top: .5em;
    padding-bottom:.25em;
    }

h3 {
    font-size:16px;
    font-family: Raleway, sans-serif;
    font-weight: 400;
    letter-spacing: .12em;
    color:#101010;
    line-height: 70%;
    text-align:center;
    }
    
p   {
    font-size:14px;
    font-family: Raleway, sans-serif;
    font-weight:400;
    letter-spacing: .1em;
    color:#101010;
    line-height: 70%;
    text-align:center;
    }
    
img {
    max-width: 40%;
    text-align:center;
    margin-top: 40px;
    margin-right: auto;
    margin-bottom: 10px;
    margin-left: auto;
    border: solid 2px #FFF;
    }
    
/* -------------------------------------------------------*/
    
  
  
    

/* ------------------------ list and li styling ----------------------*/

#list {
    text-align: center;
    font-family: Raleway, sans-serif;
    color: #FFFFFF; 
    font-size:16px;
    letter-spacing: 2px;
    }


#list li {
        display: inline-block;
        width: 100px;
        height: 25px;
        text-align:center;
        vertical-align: central;
        padding-top:6px;
        }  
        
#list li:hover {
        background-color: #FF2400;
        text-decoration: none;
        }
    
/* -------------------------------------------------------*/



/* ------------------------class styling ----------------------*/

.main { 
        max-width: 90%;
        width: calc(90% - 18px);
        margin: 5px;
        display: inline-block;
        border: solid 1px white;
        }

.footer {
    width: 400px;
    display: inline-block;
    margin-top: 20px;
    padding-top: .3em;
    }

.map  {
    width: 600px;
    text-align:center;
    margin-top: 40px;
    margin-right: auto;
    margin-bottom: 15px;
    margin-left: auto;
    border: solid 2px white;
    }

.nav {
    position:relative;
    left:-20px;
    
.logo {
    position:relative;
    left:100px;
    width:100px;
    }

/* ------------------------------------------------------*/



/* Newbie designers tip:  in html use "&nbsp" to insert more white space */