#body {
    background-color:black;
    font-family:sans-serif;
    text-align:center;
    color:white;       
}

h1 {
    font-size:24px;
    font-family:cursive;
    color:white;
    text-align: center;
}

#list li:hover{
    background-color: red;
    color:white;
}

#list {
    font-family:sans-serif;
    color:white; 
    font-size:18px;

}

#list li {
        display: inline-block;
        width: 100px;
        height: 50px;
        text-align:center;
        vertical-align: top;
        padding-top: 20px;
    }

img {
    height:400px;
    text-align:center;
    border-color:red;
}

.black {background-color: black;
}

.red {background-color: red;
}

#column1{
    margin: 10px 10px;
    width:25%;
    display:inline-block;
    vertical-align: top;
    text-align:center;
}

#column2 {
    margin: 10px 10px;
    width:25%;
    display:inline-block;
    vertical-align: top;
    text-align:center;
}

h2 {
    font-size:22px;
    font-family:sans-serif;
    color:white; 
}

h3 {
    font-size:18px;
    font-family:sans-serif;
    color:white;
}
p {
    font-size:14px;
    font-family:sans-serif;
    color:white;
}


